﻿.bg-ekt {
    background-color: #CC3333;
}

[class*="swal-button--"] {
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    text-shadow: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

[class*="swal-button--"]:hover, [class*="swal-button--"]:active {
    background-color: #0b5ed7 !important;
    border: 1px solid #0b5ed7;
    text-shadow: none;
    color: #fff;
}

.swal-button {
    box-shadow: none;
    text-shadow: none;
}
.swal-button--confirm {
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    text-shadow: none;
}

.swal-button--cancel {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    text-shadow: none;
    color:#fff;
}

.swal-button--defeat {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    text-shadow: none;
    color: #fff;
}

.swal-button--catch {
    background-color: #198754;
    border: 1px solid #198754;
    text-shadow: none;
    color: #fff;
}

.swal-button--catch:hover, .swal-button--catch:active {
    background-color: #157347 !important;
    border: 1px solid #157347;
    text-shadow: none;
    color: #fff;
}

.swal-button--cancel:hover, .swal-button--cancel:active {
    background-color: #bb2d3b !important;
    border: 1px solid #bb2d3b;
    text-shadow: none;
    color: #fff;
}

.swal-button--defeat:hover, .swal-button--defeat:active {
    background-color: #5c636a !important;
    border: 1px solid #5c636a;
    text-shadow: none;
    color: #fff;
}

.swal-button--confirm:hover, .swal-button--confirm:active {
    background-color: #0b5ed7 !important;
    border: 1px solid #0b5ed7;
    text-shadow: none;
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}


.swal-modal {
    width: 700px;
}

/**
    For OTP form
*/

.form-otp .input-field {
    flex-direction: row;
    column-gap: 10px;
}

.input-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

.input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
    display: none;
}

.form-otp button {
    margin-top: 25px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    pointer-events: none;
    background: #6e93f7;
    transition: all 0.2s ease;
}

.form-otp button.active {
    background: #4070f4;
    pointer-events: auto;
}

.form-otp button:hover {
    background: #0e4bf1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: 0px !important;
}

div.input-block {
    position: relative;
}

    div.input-block input {
        font-weight: 500;
        font-size: 1.6rem;
        color: #495055;
        width: 350px;
        padding: 15px 15px;
        border-radius: 1rem;
        border: 2px solid #D9D9D9;
        outline: none;
    }

    div.input-block span.placeholder {
        position: absolute;
        margin: 17px 0;
        padding: 0 4px;
        font-family: Roboto, sans-serif;
        color: #6c757d;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        top: 0;
        left: 17px;
        transition: all 0.2s;
        transform-origin: 0% 0%;
        background: none;
        pointer-events: none;
    }

    div.input-block input:valid + span.placeholder,
    div.input-block input:focus + span.placeholder {
        transform: scale(0.8) translateY(-30px);
        background: #fff;
    }

    div.input-block input:focus {
        color: #284B63;
        border-color: #284B63;
    }

        div.input-block input:focus + span.placeholder {
            color: #284B63;
        }

/** float label inputs **/
.has-float-label {
    position: relative;
    width: 100%;
}

    .has-float-label label {
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        top: -.5em;
        left: 12px;
        z-index: 3;
        line-height: 1;
        padding: 0 1px;
    }

        .has-float-label label::after {
            content: " ";
            display: block;
            position: absolute;
            background: white;
            height: 2px;
            top: 50%;
            left: -.2em;
            right: -.2em;
            z-index: -1;
        }

    .has-float-label .form-control::-webkit-input-placeholder {
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
        opacity: 0;
    }

    .has-float-label .form-control:placeholder-shown:not(:focus) + label {
        /*font-size: 150%;*/
        opacity: .5;
        top: .3em;
        font-weight: normal;
    }

.input-group .has-float-label {
    display: table-cell;
}

    .input-group .has-float-label .form-control {
        border-radius: 4px;
    }

    .input-group .has-float-label:not(:last-child) .form-control {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .input-group .has-float-label:not(:first-child) .form-control {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -1px;
    }

.has-float-label input:focus, .has-float-label textarea:focus, .has-float-label select:focus {
    border-color: #0d47a1;
    box-shadow: none;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    font-size: 100%;
    margin-top: 4px;
}

.form-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    margin-right: 5px;
}
/** float label inputs **/


.spin-1x {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 0.2em;
}

.icon-2x {
    font-size: 1.6em;
}

.spin-x {
    width: 1rem;
    height: 1rem;
    border-width: 0.1em;
}

.bi-1x{
    font-size: 1em;
}

.bi-2x{
    font-size: 1.1em;
}

.bi-3x{
    font-size: 1.2em;
}

.bi-4x{
    font-size: 1.3em;
}

.bi-5x{
    font-size: 1.4em;
}

.spin-1x {
    width: 1.2rem;
    height: 1.2rem;
    border-width: 0.1em;
}

.spin-2x {
    width: 2rem;
    height: 2rem;
    border-width: 0.1em;
}

.spin-3x {
    width: 3rem;
    height: 3rem;
    border-width: 0.1em;
}

/*iconos para redes sociales*/
a.btn-social, .btn-social {
	border-radius: 50%;
	color: #ffffff !important;
	display: inline-block !important;
	height: 54px;
	line-height: 54px;
	margin: 8px 4px;
	text-align: center;
	text-decoration: none;
	transition: background-color .3s;
	/*webkit-transition: background-color .3s;*/
	width: 54px;
}

.btn-social .fab, .btn-social i {
	backface-visibility: hidden;
    transform: scale(1);
	transition: all .25s;
	/*moz-backface-visibility: hidden;
	ms-transform: scale(1);
	o-transform: scale(1);
	webkit-backface-visibility: hidden;
	webkit-transform: scale(1);
	webkit-transition: all .25s;*/
}

.btn-social:hover, .btn-social:focus {
	color: #fff;
	outline: none;
	text-decoration: none;
}

.btn-social:hover .fab, .btn-social:focus .fab, .btn-social:hover i, .btn-social:focus i {
	/*ms-transform: scale(1.3);
	o-transform: scale(1.3);
	webkit-transform: scale(1.3);*/
    transform: scale(1.3);
}

.btn-social.btn-xs {
	font-size: 14px;
	height: 30px;
	width: 30px;
	line-height: 12px;
	margin: 6px 6px;
	padding-top: 8px;
}

.btn-social.btn-sm {
	font-size: 13px;
	height: 36px;
	line-height: 18px;
	margin: 6px 6px;
	width: 36px;
	padding-top: 10px;
}

.btn-social.btn-lg {
	font-size: 22px;
	height: 72px;
	line-height: 40px;
	margin: 10px 6px;
	width: 72px;
}

.btn-whatsapp {
	background-color: #25d366;
}

.btn-whatsapp:hover {
	background-color: #26d477;
}

.btn-facebook {
	background-color: #1877F2;
}

.btn-facebook:hover {
	background-color: #4c70ba;
}

.btn-telegram {
	background-color: #0088cc;
}

.btn-telegram:hover {
	background-color: #0088cc;
}

.btn-github {
	background-color: #4183c4;
}

.btn-github:hover {
	background-color: #689cd0;
}

.btn-instagram {
	background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}

.btn-instagram:hover {
	background-color: #548cb9;
}

.btn-twitch {
	background-color: #6441a5;
}

.btn-twitch:hover {
	background-color: #7e5bbe;
}

.btn-twitter {
	background-color: #55acee;
}

.btn-twitter:hover {
	background-color: #83c3f3;
}

.btn-youtube {
	background-color: #bb0000;
}

.btn-youtube:hover {
	background-color: #ea5955;
}

.btn-telegram {
	background-color: #0088cc;
}

.btn-telegram:hover {
	background-color: #0088cc;
}

.btn-whatsapp {
	background-color: #25d366;
}

.btn-whatsapp:hover {
	background-color: #26d477;
}


/*panel navbar clickeable derecha*/
.desplegable .desplegable-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
}

.desplegable .desplegable-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.desplegable .desplegable-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.desplegable-left .desplegable-menu-left {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
}

.desplegable-left .desplegable-menu-left:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px;
    z-index: 10;
}

.desplegable-left .desplegable-menu-left:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 9;
}

/**
 * pagination
 */
 .pagination {
	margin-top: 30px;
	border-top: 3px solid #ddd;
	text-align: center;
	position: relative;
	color: #777;
	list-style: none;
	border-radius: 0rem;
	background-color: transparent;
}
.page-link {
	display: inline-block;
	border: 0px;
	border-top: 0px solid #ddd;
	padding: 8px 8px 8px;
	font-size: 2rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #777;
	background-color: transparent;
}

.page-link:hover {
	margin-top: -3px;
	border-top: 3px solid #0093C2;
	color: #0093C2;
	background-color: transparent;
}

.page-link:focus {
	margin-top: -3px;
	z-index: 2;
	outline: 0;
	color: #444;
	border-top-color: #444;
}

.page-item.disabled:first-child{
	margin-left: 0;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	color:#444;
	margin-top: 0px;
	border-top: 0px solid #ddd;
	background-color: transparent;
}

.page-item.disabled .page-link{
	background-color: transparent;
}

.page-item.disabled:last-child{
	color: #444;
	border-top: 0px solid #ddd;
	margin-top: 0px;
}

.page-item.active .page-link {
	z-index: 1;
	background-color: transparent;
	margin-top: -3px;
	border-top: 3px solid #444;
	color: #444;
	border-top-color: #444;
}

.page-item.disabled{
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	border-top: 3px solid #ddd;
	display:inline-block;
	margin-top: -3px;
	background-color: transparent;
}

.pagination-lg .page-link {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem
}

.pagination-sm .page-link {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem
}

.page-item .page-link:focus {
	outline: none;
	box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.25);
}

.page-item:last-child .page-link:hover {
	color: #0093C2;
	background-color: transparent;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

.page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
}
/* /pagination */

.posts .post {
	width: 17%;
	display: inline-block;
	vertical-align: top;
}

.posts .post + .post {
	padding-top: 30px;
	border-top: 4px solid #eee;
	margin-top: 20px;
}

.posts .post:nth-child(2) {
	padding-top: 0;
	border-top: none;
	margin-top: 0;
}

.posts .post:nth-child(2n) {
	margin-left: 5%;
}

/* Post Image ----------------------------------------- */
.post-image {
	/*margin-bottom: 25px;*/
	/*position: relative;*/
	height: 150px;
	width: 100%;	/*display: inline-block;*/
	border: 1px solid #eee;
	overflow: hidden;
}

.post:hover {
	border-bottom: 2px solid #0093C2 !important;
}

.img-upload {
	width: auto;
	height: 100%;
}

.fit-image {
	width: auto;
	object-fit: cover;
	height: 100%;
}

.todo-description img{
	width: 100%;
	height: 100%;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	object-fit: cover;
}

.post-image img {
	width: 100%;
	height: 100%;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	object-fit: cover;
}

.post-image img:hover {
	transform: scale(1.3);
	transform-origin: 50% 50%;
	transition: transform .4s;
}

/*.posts .post-image img {
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
object-fit: cover;
}*/
.post-image .sticky-tag {
	display: none;
}

.sticky .sticky-tag {
	display: block;
	width: 22px;
	height: 26px;
	background: #0093C2;
	color: #fff;
	position: absolute;
	right: 15px;
	top: 0;
}

.sticky .sticky-tag:after {
	content: "";
	display: block;
	position: absolute;
	border: 11px solid #0093C2;
	border-top-width: 0;
	border-bottom: 5px solid transparent;
	bottom: -5px;
	left: 0;
	-webkit-transform: rotate(0.01deg);
}

.sticky .sticky-tag .fa {
	font-size: 12px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 8px;
	left: 0;
	right: 0;
}

/* Post Header ----------------------------------------- */
.post-title {
	font-family: 'Merriweather', Georgia, serif;
	font-size: 1.1em;
	line-height: 135%;
	font-weight: 900;
	letter-spacing: -1px;
	-ms-word-break: break-word;
	word-break: break-word;
}

.post-title a {
	display: block;
	color: #111;
}

.post-title a:hover {
	color: #111;
	text-decoration: underline;
}

.post-meta {
	margin-top: 3px;
	font-size: 0.9em;
	line-height: 120%;
	font-weight: 700;
	color: #888;
}

.post-meta a {
	color: #888;
}

.post-meta a:hover {
	color: #888;
	text-decoration: underline;
}
